name: Test - Skip tests
on:
  pull_request:
    branches:
      - master
  push:
    branches:
      - master

jobs:
  run:
    runs-on: ubuntu-latest
    concurrency:
      group: "test-skip-tests-${{ github.head_ref || github.ref }}"
      cancel-in-progress: true
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - uses: ./
        with:
          client: go-ethereum
          simulator: ethereum/sync
          workflow_artifact_upload: true
          skip_tests: true
