name: Test - Skip tests
on:
  pull_request:
    branches:
      - master
  push:
    branches:
      - master

jobs:
  run:
    runs-on: ubuntu-latest
    concurrency:
      group: "test-skip-tests-${{ github.head_ref || github.ref }}"
      cancel-in-progress: true
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
      - uses: ./
        with:
          client: go-ethereum
          simulator: ethereum/sync
          workflow_artifact_upload: true
          skip_tests: true
